<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pantographe_macros">

  <!--
    Macros for pantographe description
    - link_with_mesh: creates a link with inertial, visual and collision referencing meshes/<name>
    - revolute_joint: creates a revolute joint about Z between parent and child
  -->

  <xacro:macro name="link_with_mesh" params="name mesh mass ixx iyy izz">
    <link name="${name}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}"/>
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pantographe_description/meshes/${mesh}"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://pantographe_description/meshes/${mesh}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="revolute_joint" params="name parent child xyz rpy axis lower upper effort velocity">
    <joint name="${name}" type="revolute">
      <parent link="${parent}"/>
      <child  link="${child}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <axis xyz="${axis}"/>
      <limit lower="${lower}" upper="${upper}" effort="${effort}" velocity="${velocity}"/>
    </joint>
  </xacro:macro>

</robot>
